.classes_modal{
    max-width: 700px!important;
    
}

.classes-content{
    padding: 1rem;

}
.classes-above{
    display: block;
    margin-bottom: 2rem;
    border-radius: 1.5em;
    overflow: hidden;
    
}

.classes-below{
    display: block;
    
}

.classes-tx{
    display: inline-block;
    margin: 0 auto;
    width: 50%;
}

.classes-tx p{
    display: inline;
    position: center;
      
}

.classes-right{
    display: inline-block;
    width: 50%;
    
}

.classes-info{
    display: block;
}

.classes-btn{
    display: block;
    
}

.classes-btn button{
    
    width: 100%;
    
}

