.classes_modal{
    max-width: 650px!important;
    
}

.classes-content{
    padding: 1rem;

}
.classes-above{
    display: block;
    margin-bottom: 2rem;
    border-radius: 1.5em;
    overflow: hidden;
    
}

.classes-below{
    display: flex;
    justify-content:space-between;

}

.classes-txt{
    display: flex;
    align-items:center;
    

    p{
       padding: 1rem;
    }
    
}

.classes-btn{
    
    padding: 1rem;

    button{
       width: 100%;
    }
    
}

