.d_ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.d_ul li {
	display: inline-flex;
}

.d_ul a {
	position: relative;
	padding: 1rem 0 0.5rem;
	margin: 0 1.5rem;
	color: blue;
	text-decoration: none;
	text-transform: uppercase;

	
	&::after {
		content: '';
		position: absolute;
		left: 50%;
		bottom: 0;
		transform: translateX(-50%) scaleX(0);
		transform-origin: 50% 50%;
		width: 100%;
		height: 1px;
		background-color: #00FAAA;
		transition: transform 250ms;
	}
	
	&:hover {
		
		&::after {
			transform: translateX(-50%) scaleX(1);
		}
		
	}
	
}