.lessonContainer:hover {
    opacity: .8;
  }

.lessonContainer {
    opacity: 1;
    position: relative; 
    text-align: left;
    margin: 5% !important;
    text-transform: uppercase;
}

.infoDiv{
    text-align: 'left';
    padding: '3em 1em';
    padding: 20% 5% !important; 
    position:absolute;
    top:0;
    float:left;
}

.minutesDiv {
    position:absolute;
    bottom:0;
    left:0;
    margin: 10% 10% !important;
    background-color: #C0C0C0;
    border-radius: .6em;
    padding: 1% 4% !important;
}

.topicDiv{
    text-align: center;
}
