.nav_ul a {
    margin: 0;
    padding: 5px 0 5px 0;
    font-size: 0.8125em ;
    font-weight: 600;
    color: #0A14FF;
    letter-spacing: 0.135em;
    transition: 0.3s;
}

.logoLetras{
    font-size: 0.8125em ;
    font-weight: 400;
    color: #0A14FF;
    letter-spacing: 0.0300em;
    transition: 0.3s;
}

.nav_ul a:hover {
    color: #00FAAA;
}
    
@media (min-width: 992px) {
  .navbar-brand.abs
      {
          position: absolute;
          width: 100%;
          left: 0;
          text-align: center;
      }
  }
  