@import url('https://fonts.googleapis.com/css?family=Saira+Extra+Condensed');

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	letter-spacing: 1px;
	-webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
}

.container {
	top: 0;
	position: fixed;
	flex-direction: column;
    width: 100%;
	z-index: 1;
	background-color:white;
	height: 4em;
	//background-color: transparent;
}

header {
	text-align: left;
	padding: 0.5rem 0 5rem;
	font-size: 1.25rem;
	font-weight: bold;
	
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

li {
	display: inline-flex;
}

a {
	position: relative;
	padding: 1rem 0 0.5rem;
	margin: 0 1.5rem;
	color: blue;
	text-decoration: none;
	text-transform: uppercase;

	
	&::after {
		content: '';
		position: absolute;
		left: 50%;
		bottom: 0;
		transform: translateX(-50%) scaleX(0);
		transform-origin: 50% 50%;
		width: 100%;
		height: 1px;
		background-color: #00FAAA;
		transition: transform 250ms;
	}
	
	&:hover {
		
		&::after {
			transform: translateX(-50%) scaleX(1);
		}
		
	}
	
}

