.logoNavBar{
    padding: 5em 3em 5em 3em !important;
    text-align: center ;
}
.nameNavBar{
    padding:5em 3em 5em 3em !important;
    text-align: center;
}

.photoNavBar{
    padding:5em 3em !important;
    text-align: center;
}

.colorStyle{
    background-image: linear-gradient(141deg, #0A14FF 20%, #00FAAA 100%);
    height: 100%;
    background-size: cover;
    vertical-align: middle;
}

.user_nav_mainContainer{
    margin: 0 5%;
    position: relative;
}

@media(max-width: 959px){ /*md -> sm*/
    .logoNavBar{
        padding: 2em 1em !important;
    }
    .nameNavBar{
        padding:8em 1em 3em 1em !important;
    }
    .photoNavBar{
        position: absolute;
        top: 50%;
        left: 50%;
        text-align: center;
        transform: translate(-50%, -50%);
    }
}